{% extends "global.html" %}

{% block head %}
<title>Index</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block body %}
<div class="main">
    <img src="{{ url_for('static', filename='images/blog-admin.png')}}">
    <ul>
        {% for post in posts %}
        <li>
            <a href="posts/{{post.id}}">{{ post.title }}</a>
            <a href="admin/delete/{{ post.id }}">Delete post</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}