{% extends "global.html" %}

{% block head %}
<title>Index</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/create-post.css') }}">
{% endblock %}

{% block body %}
<div class="main">
    <img src="{{ url_for('static', filename='images/blog-create.png')}}">

    <form action="/posts/create" method="POST">
        <label for="title" class="title-input">Title:</label>
        <input type="text" name="title" class="title-input">
        <br><br>
        <label for="title" class="body-input">Body:</label>
        <textarea cols="50" rows="10" name="body" id="body-input"></textarea>
        <input type="submit" id="post-button" value="Post!">
    </form>
</div>
{% endblock %}