{% extends "global.html" %}

{% block head %}
<title>Index</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/create-post.css') }}">
{% endblock %}

{% block body %}
<div class="main">
    <img src="{{ url_for('static', filename='images/blog-create.png')}}">

    <div id="form-div">
        <form action="/posts/create" method="POST">
            <h3><input type="text" name="title" id="title"></h3>
            <input type="submit" id="post-button" value="Post!">
        </form>
    </div>
</div>
{% endblock %}