{% extends "global.html" %}

{% block head %}
<title>Create Post</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
{% endblock %}

{% block body %}
<div class="main">
    <img src="{{ url_for('static', filename='images/blog-login.png')}}">

    <form action="/users/login" method="POST">
        <div class="field {% if 'uuid' in needed_fields %}needed{% endif %}">
            <label for="uuid" class="uuid-input">UUID<b style="color: red">*</b>:</label>
            <input type="text" name="uuid" class="uuid-input">
        </div>
        <br><br>
        <div class="field {% if 'password' in needed_fields %}needed{% endif %} {% if 'password' in needed_fields %}needed2{% endif %}">
            <label for="password" class="password-input">Password<b style="color: red">*</b>:</label>
            <input type="password" name="password" class="password-input">
        </div>
        <br>
        <p>(<b style="color: red">*</b> are required fields)</p>
        {% if failed == True %}<h3 style="color: red"></h3>{% endif %}
        <br>
        <input type="submit" id="button" value="Login!">
    </form>
</div>
{% endblock %}