.title-input {
    font-size: large;
    font-family: sans-serif;
}
.body-input {
    font-size: medium;
    font-family: sans-serif;
    width: 50vw;
    height: 40vh
}

.field.needed {
    animation: flash-red 1s forwards;
}

@keyframes flash-red {
    0% {
        background-color: transparent;
    }
    0.5% {
        background-color: red;
    }
    100% {
        background-color: transparent;
    }
}

#button {
    color: white;
    width: 50vw;
    transition: width 0.4s, background-color 0.4s;
    font-size: x-large;
    background-color: darkolivegreen;
    border-radius: 10px;
}
#button:hover {
    width: 60vw;
    background-color: olivedrab;
}