body {
    background-color: rgb(13, 23, 39);
    color: white;
    font-family: sans-serif;
}

#top {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#user {
    display: flex;
    align-items: center;
    text-align: right;
}


.main {
    border: 3px white solid;
    padding: 5px;
    border-radius: 10px;
}

.date {
    color: cornsilk;
}

a {
    color: bisque;
}
