body {
    background-color: rgb(13, 23, 39);
    color: white;
    font-family: sans-serif;
}

#top {
    display: grid;
    grid-template-columns: 3fr 1fr;
}


#user {
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
    align-items: center; /* Vertically aligns items */
    gap: 15px; /* Adds space between the items */
}

#login-link-button {
    color: white;
    width: 25vw;
    transition: width 0.4s, background-color 0.4s;
    font-size: x-large;
    background-color: darkolivegreen;
    border-radius: 10px;
}
#login-link-button:hover {
    width: 30vw;
    background-color: olivedrab;
}


.main {
    border: 3px white solid;
    padding: 5px;
    border-radius: 10px;
}

.date {
    color: cornsilk;
}

a {
    color: bisque;
}
